.main-header{
    height: 5rem;    
    z-index: 10;

    .container{
        margin: 0 auto;
        max-width: 65rem;        
        width: 100%;
        padding: 0 2.5rem;        
    
        .wrapper{            
            display: flex;
            align-items: center;   
            justify-content: space-between;         
            .logo-box{
                padding: 1rem 0;
            }
           
            .logo{              
                max-width: 70%;              
                max-height: 5rem;
                height: 50%;
                object-fit: contain;
                vertical-align: middle;                
            }  
            a.about{
                opacity: .5;
                color: #000;
                text-decoration: none;
            }
            a.about:hover{
                opacity: 1;
                transition: 500ms ease;
                
            }
            a.active{
                opacity: 1;
            }

        }
    }

    .container:after{                
        content: "";
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 0.9375rem;
        display: block;        
    }
}

@media only screen and (max-width:767px){
     .main-header{
        .container{
            padding: 0 1rem;            
        }

        a.about{
            font-size: .75rem;
        }        
     }
}