.info-section{
    
    .container{
        margin: 0 auto;
        max-width: 65rem;
        width: 100%;
        min-height: calc(100vh - 10rem);
        padding: 2.5rem;       
        box-sizing: border-box;
        
        .loader{
            display: flex;
            height: 27em;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .flex-box{
            display: flex;
            flex-direction: column;
            align-items: center;                 
           
            .row{
                display: flex;                
                align-items: center;
                
                div{
                    margin: 0;     
                    // transform: rotate(180deg);               
                }

                .toggle-btn{
                    padding: .5rem;
                    

                    button{
                        height: 3rem;
                    }
                }
                
                .menu-item{
                    padding: .5rem;

                    .MuiToggleButtonGroup-root,.MuiFormControl-root{
                        // width: 8.75rem;
                    }

                    .MuiSelect-select{
                        padding-top: 1.0625rem;
                    }
                }
            }

            .line-chart{    
                // width:360px;            
                // overflow-x: scroll;
                padding-top: 5rem;

                tspan{
                    font-size: 10px;                                        
                }
            }
        }

        
    }
}

@media only screen and (max-width:767px){
    .info-section{
       
        .container{
            padding: 0 1rem;    
        }
    }
}