.info-section{
    padding-top: 5rem;

    .container{
        margin: 0 auto;
        max-width: 65rem;
        width: 100%;
        padding: 0 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;        

        .loader{
            margin: 0 auto;
        }

        .flex-box{
            display: flex;
            flex-direction: column;
            align-items: center;                 
           
            .row{
                display: flex;
                flex-direction: column;   
                margin-top: -5rem;
                padding: 1rem 3rem;
                border-radius: 12px;
                box-shadow: 0 2px 24px #d3eaff;

                .toggle-btn{
                    margin-bottom: 1.5rem;
                }
                
                .menu-item{
                    margin-bottom: 1.5rem;
                }
            }
        }

        
    }
}

@media only screen and (max-width:767px){
    .info-section{
       
        .container{
            padding: 0 1rem;    
        }
    }
}